@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face {
    font-family: 'font-superMario';
    src: url('SuperMario256.ttf') format('truetype');
}

:root{
    --font-Mario: 'font-superMario';
    --font-family:'Montserrat', sans-serif;
    --bg-color:#8AC6D1 ;
    --primary-color: #F5E9CF ;
    
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    text-shadow: rgba(0, 0, 0, 0.514) 2px 2px 2px;
    font-family: var(--font-Mario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
h1{
    font-size: 4em;
}
h3{
    font-size: 2em;
    margin-top: 20px;
}
h2{
    font-size: 4em;
}
.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}
.box{
    border:2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin:20px ;
}
.btn-jogar{
    color: white;
    margin-top:25px;
    padding: 15px 25px;
    border: 0;
    background-color: #d45d79ec;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.541) 2px 2px 2px;
    font-family: var(--font-Mario);
    cursor: pointer;
    text-shadow: rgba(0, 0, 0, 0.623) 2px 2px 2px;
}
.btn-jogar:hover{
    background-color: #e9b2bcee;
    color: black;
    text-shadow: none;
}